body{
    
    font-family: 'PT Sans', sans-serif;
}
header {
    border: 3px  ridge  grey;
    width:40%;
    margin: 100px auto 20px auto;
    padding: 30px 50px;
    text-shadow: #aaa 4px 4px 4px;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    color: white;
    background-color: black;
    opacity: 0.3;
}
.formulario {
    border: 3px  ridge  grey;
    width:40%;
    margin: auto;
    padding: 50px 30px;
    display:block;
    //background-color: black;
    //opacity:0.2;
  // positioning context

    > div {
    //              -----------------------   BEGIN RADIO BUTTON   ---------------------------
        >div.radioG{
            > ul {
                list-style: none;
                > li {
                    //Estos dos nos dan una lista horizontal
                    display : incline;
                    float : left;
                    Cuando el cursor este encima lo cambias
                    &:hover label{
                        color: #585858;
                    }
                    &:hover .circlePers{
                        border: 3px solid #585858;
                    }

                    > input[type=radio]{
                        //Ocultar los redondeles por defecto. 
                        //Position abs: Se ponen encima como si no exis
                        visibility : hidden;
                        position : absolute;

                        &:checked ~ label{
                            color: #190707;
                        }
                        &:checked ~ .circlePers::before{
                            background: #FE2E64;
                        }
                    }
                    >.circlePers{
                        //Si no pones esto no sale. Grosor, solido
                        border: 3px solid ;
                        border-radius: 100%;
                        //  Si en vez de eso pones size: 10px;, salen como dos lineas palanadas
                        //debajo del texto. No le aplique ninguna position para colocarlo al lado
                        //del texto. Aparece justo debajo respetando posicion txt
                        // Tamaño del circulo
                        height: 10px;
                        width: 10px;

                        position: relative;
                        left: 0px;
                        top: -20;
                    }
                    // antes de nada que haga
                    >.circlePers::before{
                        border-radius: 100%;
                        height: 7px;
                        width: 7px;
                        margin:2px;
                        position: relative;
                        content:'';

                        //Si no haces esto no te cogera la forma
                        display : incline;
                        float : left;

                        transition: background 0.25s linear;
                        -webkit-transition: background 0.25s linear;
                    }
                    > label {
                        color : black;
                        font-weight: 300;
                        font-size: 1.10em;
                        //el espacio entre elementos
                        padding: 0px 20px 0px 20px;

                        //z-index: 9;
                        cursor: pointer;
                        // Hace que se cree una transicion de color mas suave
                        -webkit-transition: all 0.25s linear;
                    }
                }
            }
            &#validar {
                & ~ .advice {
                    visibility: hidden;
                }
                background: url(../files/ok.png);
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: 8px 10px;
                opacity:1;
              }
            // si input es erroneo y enfocas en el input aparece fondo red y advice mostrar
            &#erroneo{
                & ~ .advice {
                    visibility: visible;
                }
            }
        }

        /*-----------------------   END RADIO BUTTON   ---------------------------*/
        //position: relative; // si no tapa los nombres
        //transform:translateX(10%);
        //Float right y left salen de la caja. Se arregla asi:
        overflow:hidden;
        >div.advice{
            display:block;
            color:red;
            font-size: 10px;
            //overflow: hidden;
            border: 1px redge #d8a9f6;
            margin-right: 40%;
            transition:0.9s;
            visibility:hidden; //AL ponerlo desde javascript funciona la visibilidad
        }
        
        > input[type="text"],input[type="file"],
          input[type="password"],
          select{
                background-color: #fffdff; 
                border-radius: 7px 0px 18px 7px;
                padding: 5px 10px 5px 25px ;
                margin: 10px 30px 10px auto;//30 separa label de caja
                width:60%;
                opacity: 1.0;
                transition:0.6s;
            &:focus {
                opacity: 0.9;
                & + label {
                    opacity: 0;
                }
                // Remueve el foco usual
                outline:0;
            }
            &.validar {
                background: url(../files/ok.png);
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: 8px 10px;
                opacity:1;
              }
            // si input es erroneo y enfocas en el input aparece fondo red y advice mostrar
            &.erroneo:focus {
                // EL INPUT SE RELACIONA CON EL ADVICE
                border-color: grey;
                background-color: red;
                opacity: 0.5;
                & ~ .advice {
                    visibility: visible;
                }
            }
            //Este es erroneo y no enfocas
            // no muestra placeholder pero si la x
            &.erroneo:not(:focus){
                background: url(../files/wrong.png);
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: 8px 10px;
                & + label {
                  opacity: 0.3;
                }
            }
        }

        >label {
            opacity: 0.6;
            position: relative;
            transition:.6s;
            font-size: 1.2em;
            font-weight: bold;
        }
        // Si pongo pos absoluta me lo pone con respecto a la pantalla
        // general uno encima de otro. Relativo respetando el espacio
        // entre ellos y moviendolos con respecto a su posicion original
        &#btn-foot > input,button{
            //display:incline-block;
            color: white;
            background-color: black;
            opacity: 0.3;
            padding: 5px 10px;
            transition:.2s;
            font-size: 1.0rem;
            &#btnB{
                float:left;
            }
            &#btnU{
                float:right;
            }
            &:hover{
                background-color: #803da1;
                opacity: 0.8;
                color: black;
            }  
        }
    }
}  
.table{
    width: 100%;
}
/*              &:invalid:not(:focus):not(:placeholder-shown) {
                border-color: red;
                
                & + label {
                  opacity: 0;
                }
              }

              &:invalid:focus:not(:placeholder-shown) {
                & ~ .requirements {
                  max-height: 200px;
                  padding: 0 30px 20px 50px;
                }
              }*/