@font-face {
    font-family: "NovaCut";
    src: local("NovaCut"),
        url(../resources/fonts/Nova_Cut/NovaCut.tff) format('ttf');
}
h1{
    margin:25px;
}
body {   
    //Con el fixed te aseguras que sea en toda la pantalla aunque haya scroll
    background: url(../resources/files/backadmin.jpg) fixed center center;
   
    background-repeat: no-repeat;
    background-size: cover ;
    

/*    background: url(../resources/files/backadmin.jpg) no-repeat;
    background-size: cover; */
// Lo siguiente solo lo quiero para esta caja y no para sus subelementos
div.head{    
    background: black;
    opacity: 0.85;
    height: 13%;
    // Cuidado con estas dos combinaciones. Queremos separacion con respecto a la caja entera
    margin: 2%; 
    width:96%;
}    
div.head{
    > h1 {
        //z-index: 1;
        color: white;
    }
    // Respecto a lo que le toca. 
    //Es el primer componente luego respeta la posicion y no lopongas encima absolute.align-content:
    // Fixed es que con scroll no se mueva
    position: fixed;
    top:0%;
    //overflow:hidden;
    //z-index: 5;
    ul { 
        margin: 0px;
        padding:0px;
        position:relative;
        list-style: none;
        
        
        > li {
            
            > a {
                /*text-align: center;*/
                display: block;
                padding: 0px 10px;
                text-decoration: none;
                color: white;
                /*opacity:1;*/
                font-size: 1.5vw;
            }
        }
    } 
    >ul.nav {
        
        padding: 0% 2%;
            > li {  
                padding: 0% 0.8%;
                
                opacity: 0.8;
                display:incline;
                float: left;

                &:hover ul li{
                    z-index:9999;
                    position:relative;
                    display:block;
                    padding:10px 0px;
                    background: black;
                    
                }
                //line-height: 150%;

                > a {
                    
                    font-weight: bold;
                    transition:0.8;
                    
                    &:hover{
                        color:orange;
                        font-size: 1.8vw;
                    }
                }
            }
                >li ul li{
                    display:none;
            
                    > a:hover{
                        color:grey;
                    }
        }
    }
}
div.content{
    // Si excede del contenido hazme scroll
    //overflow:scroll;
    margin-top: 15%;
    //Sino pongo esto me afectaria a todo el body y pondria la caja de arriba negra tambien abajo
    //con este contenido
    
    margin-left: 5%;
    margin-right:5%;
    
/*  border: solid white 2px;
*/
}
div.foot{
    background: black;
    bottom:0%;
    height: 5%;
    color:white;
    // Cuidado con estas dos combinaciones. Queremos separacion con respecto a la caja entera
    margin: 2%; 
    width:96%;
    position: fixed;
    opacity: 0.6;
    text-align: center;
    
}
}  