body{
    background-image: url(../resources/files/entrada.png);
  //background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;// equivalente a 50% 50%
    font-family: 'PT Sans', sans-serif;
}
form {
    border: 3px  ridge  grey;
    width:40%;
    position:absolute;
    right:25%;
    top:25%;
   
    //Obliga a tener mas grande la pantalla margin:50%;
    padding: 50px 30px;
    display:block;
    border: 3px solid blue;
    //background-color: black;
    //opacity:0.2;
  // positioning context
  > div {
        //position: relative; // si no tapa los nombres
        //transform:translateX(10%);
        //Float right y left salen de la caja. Se arregla asi:
        overflow:hidden;
        >div.advice{
            color:red;
            font-size: 10px;
            //overflow: hidden;
            border: 1px redge #d8a9f6;
            margin-right: 40%;
            transition:0.9s;
            visibility:hidden; //AL ponerlo desde javascript funciona la visibilidad
        }
        > input[type="text"],input[type="file"],
          input[type="password"],
          select{
                background-color: #fffdff; 
                border-radius: 7px 0px 18px 7px;
                padding: 5px 10px 5px 25px ;
                margin: 10px 30px 10px auto;//30 separa label de caja
                width:60%;
                opacity: 0.5;
                transition:0.6s;
            &:focus {
                opacity: 0.9;
                & + label {
                    opacity: 0;
                }
                // Remueve el foco usual
                outline:0;
            }
            &.validar {
                background: url(../files/ok.png);
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: 8px 10px;
                opacity:1;
              }
            // si input invalid no esta en caja el cursor placeholder desaparece    
            &.erroneo:focus {
                // EL INPUT SE RELACIONA CON EL ADVICE
                border-color: grey;
                background-color: red;
                opacity: 0.5;
                & ~ .advice {
                    visibility: visible;
                }
                
            }
            //Este es invalido no en foco y no mostrar el placeholdershown
            
            &.erroneo:not(:focus){
                background: url(../files/wrong.png);
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: 8px 10px;
                & + label {
                  opacity: 0.3;
                }
              }

        }
        >label {
            opacity: 0.6;
            position: relative;
            transition:.6s;
            font-size: 1.2em;
            font-weight: bold;
        }
        // Si pongo pos absoluta me lo pone con respecto a la pantalla
        // general uno encima de otro. Relativo respetando el espacio
        // entre ellos y moviendolos con respecto a su posicion original
        &#btn-foot > input{
            display:incline-block;
            color: white;
            background-color: black;
            opacity: 0.3;
            padding: 5px 10px;
            transition:.2s;
            font-size: 1.0rem;
            
            &#btnU{
                float:right;
            }
            &:hover{
                background-color: #803da1;
                opacity: 0.8;
                color: black;
            }  
        }
    }
}  
