body {
  font-family: 'PT Sans', sans-serif;
}

header {
  border: 3px  ridge  grey;
  width: 40%;
  margin: 100px auto 20px auto;
  padding: 30px 50px;
  text-shadow: #aaa 4px 4px 4px;
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
  color: white;
  background-color: black;
  opacity: 0.3;
}

.formulario {
  border: 3px  ridge  grey;
  width: 40%;
  margin: auto;
  padding: 50px 30px;
  display: block;
}
.formulario > div {
  /*-----------------------   END RADIO BUTTON   ---------------------------*/
  overflow: hidden;
}
.formulario > div > div.radioG > ul {
  list-style: none;
}
.formulario > div > div.radioG > ul > li {
  display: incline;
  float: left;
}
Cuando el cursor este encima lo cambias
.formulario > div > div.radioG > ul > li:hover label {
  color: #585858;
}
.formulario > div > div.radioG > ul > li:hover .circlePers {
  border: 3px solid #585858;
}
.formulario > div > div.radioG > ul > li > input[type=radio] {
  visibility: hidden;
  position: absolute;
}
.formulario > div > div.radioG > ul > li > input[type=radio]:checked ~ label {
  color: #190707;
}
.formulario > div > div.radioG > ul > li > input[type=radio]:checked ~ .circlePers::before {
  background: #FE2E64;
}
.formulario > div > div.radioG > ul > li > .circlePers {
  border: 3px solid;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  position: relative;
  left: 0px;
  top: -20;
}
.formulario > div > div.radioG > ul > li > .circlePers::before {
  border-radius: 100%;
  height: 7px;
  width: 7px;
  margin: 2px;
  position: relative;
  content: '';
  display: incline;
  float: left;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.formulario > div > div.radioG > ul > li > label {
  color: black;
  font-weight: 300;
  font-size: 1.10em;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
.formulario > div > div.radioG#validar {
  background: url(../files/ok.png);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 8px 10px;
  opacity: 1;
}
.formulario > div > div.radioG#validar ~ .advice {
  visibility: hidden;
}
.formulario > div > div.radioG#erroneo ~ .advice {
  visibility: visible;
}
.formulario > div > div.advice {
  display: block;
  color: red;
  font-size: 10px;
  border: 1px redge #d8a9f6;
  margin-right: 40%;
  transition: 0.9s;
  visibility: hidden;
}
.formulario > div > input[type="text"], .formulario > div input[type="file"],
.formulario > div input[type="password"],
.formulario > div select {
  background-color: #fffdff;
  border-radius: 7px 0px 18px 7px;
  padding: 5px 10px 5px 25px;
  margin: 10px 30px 10px auto;
  width: 60%;
  opacity: 1.0;
  transition: 0.6s;
}
.formulario > div > input[type="text"]:focus, .formulario > div input[type="file"]:focus,
.formulario > div input[type="password"]:focus,
.formulario > div select:focus {
  opacity: 0.9;
  outline: 0;
}
.formulario > div > input[type="text"]:focus + label, .formulario > div input[type="file"]:focus + label,
.formulario > div input[type="password"]:focus + label,
.formulario > div select:focus + label {
  opacity: 0;
}
.formulario > div > input[type="text"].validar, .formulario > div input[type="file"].validar,
.formulario > div input[type="password"].validar,
.formulario > div select.validar {
  background: url(../files/ok.png);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 8px 10px;
  opacity: 1;
}
.formulario > div > input[type="text"].erroneo:focus, .formulario > div input[type="file"].erroneo:focus,
.formulario > div input[type="password"].erroneo:focus,
.formulario > div select.erroneo:focus {
  border-color: grey;
  background-color: red;
  opacity: 0.5;
}
.formulario > div > input[type="text"].erroneo:focus ~ .advice, .formulario > div input[type="file"].erroneo:focus ~ .advice,
.formulario > div input[type="password"].erroneo:focus ~ .advice,
.formulario > div select.erroneo:focus ~ .advice {
  visibility: visible;
}
.formulario > div > input[type="text"].erroneo:not(:focus), .formulario > div input[type="file"].erroneo:not(:focus),
.formulario > div input[type="password"].erroneo:not(:focus),
.formulario > div select.erroneo:not(:focus) {
  background: url(../files/wrong.png);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 8px 10px;
}
.formulario > div > input[type="text"].erroneo:not(:focus) + label, .formulario > div input[type="file"].erroneo:not(:focus) + label,
.formulario > div input[type="password"].erroneo:not(:focus) + label,
.formulario > div select.erroneo:not(:focus) + label {
  opacity: 0.3;
}
.formulario > div > label {
  opacity: 0.6;
  position: relative;
  transition: .6s;
  font-size: 1.2em;
  font-weight: bold;
}
.formulario > div#btn-foot > input, .formulario > div button {
  color: white;
  background-color: black;
  opacity: 0.3;
  padding: 5px 10px;
  transition: .2s;
  font-size: 1.0rem;
}
.formulario > div#btn-foot > input#btnB, .formulario > div button#btnB {
  float: left;
}
.formulario > div#btn-foot > input#btnU, .formulario > div button#btnU {
  float: right;
}
.formulario > div#btn-foot > input:hover, .formulario > div button:hover {
  background-color: #803da1;
  opacity: 0.8;
  color: black;
}

.table {
  width: 100%;
}

/*              &:invalid:not(:focus):not(:placeholder-shown) {
                border-color: red;
                
                & + label {
                  opacity: 0;
                }
              }

              &:invalid:focus:not(:placeholder-shown) {
                & ~ .requirements {
                  max-height: 200px;
                  padding: 0 30px 20px 50px;
                }
              }*/

/*# sourceMappingURL=styleRegistro.css.map */
