@font-face {
  font-family: "NovaCut";
  src: local("NovaCut"), url(../resources/fonts/Nova_Cut/NovaCut.tff) format("ttf");
}
h1 {
  margin: 25px;
}

body {
  background: url(../resources/files/backadmin.jpg) fixed center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*    background: url(../resources/files/backadmin.jpg) no-repeat;
      background-size: cover; */
}
body div.head {
  background: black;
  opacity: 0.85;
  height: 13%;
  margin: 2%;
  width: 96%;
}
body div.head {
  position: fixed;
  top: 0%;
}
body div.head > h1 {
  color: white;
}
body div.head ul {
  margin: 0px;
  padding: 0px;
  position: relative;
  list-style: none;
}
body div.head ul > li > a {
  /*text-align: center;*/
  display: block;
  padding: 0px 10px;
  text-decoration: none;
  color: white;
  /*opacity:1;*/
  font-size: 1.5vw;
}
body div.head > ul.nav {
  padding: 0% 2%;
}
body div.head > ul.nav > li {
  padding: 0% 0.8%;
  opacity: 0.8;
  display: incline;
  float: left;
}
body div.head > ul.nav > li:hover ul li {
  z-index: 9999;
  position: relative;
  display: block;
  padding: 10px 0px;
  background: black;
}
body div.head > ul.nav > li > a {
  font-weight: bold;
  transition: 0.8;
}
body div.head > ul.nav > li > a:hover {
  color: orange;
  font-size: 1.8vw;
}
body div.head > ul.nav > li ul li {
  display: none;
}
body div.head > ul.nav > li ul li > a:hover {
  color: grey;
}
body div.content {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  /*  border: solid white 2px;
  */
}
body div.foot {
  background: black;
  bottom: 0%;
  height: 5%;
  color: white;
  margin: 2%;
  width: 96%;
  position: fixed;
  opacity: 0.6;
  text-align: center;
}

/*# sourceMappingURL=styleAdministrador.css.map */
