body {
  background-image: url(../resources/files/entrada.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
  font-family: 'PT Sans', sans-serif;
}

form {
  border: 3px  ridge  grey;
  width: 40%;
  position: absolute;
  right: 25%;
  top: 25%;
  padding: 50px 30px;
  display: block;
  border: 3px solid blue;
}
form > div {
  overflow: hidden;
}
form > div > div.advice {
  color: red;
  font-size: 10px;
  border: 1px redge #d8a9f6;
  margin-right: 40%;
  transition: 0.9s;
  visibility: hidden;
}
form > div > input[type="text"], form > div input[type="file"],
form > div input[type="password"],
form > div select {
  background-color: #fffdff;
  border-radius: 7px 0px 18px 7px;
  padding: 5px 10px 5px 25px;
  margin: 10px 30px 10px auto;
  width: 60%;
  opacity: 0.5;
  transition: 0.6s;
}
form > div > input[type="text"]:focus, form > div input[type="file"]:focus,
form > div input[type="password"]:focus,
form > div select:focus {
  opacity: 0.9;
  outline: 0;
}
form > div > input[type="text"]:focus + label, form > div input[type="file"]:focus + label,
form > div input[type="password"]:focus + label,
form > div select:focus + label {
  opacity: 0;
}
form > div > input[type="text"].validar, form > div input[type="file"].validar,
form > div input[type="password"].validar,
form > div select.validar {
  background: url(../files/ok.png);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 8px 10px;
  opacity: 1;
}
form > div > input[type="text"].erroneo:focus, form > div input[type="file"].erroneo:focus,
form > div input[type="password"].erroneo:focus,
form > div select.erroneo:focus {
  border-color: grey;
  background-color: red;
  opacity: 0.5;
}
form > div > input[type="text"].erroneo:focus ~ .advice, form > div input[type="file"].erroneo:focus ~ .advice,
form > div input[type="password"].erroneo:focus ~ .advice,
form > div select.erroneo:focus ~ .advice {
  visibility: visible;
}
form > div > input[type="text"].erroneo:not(:focus), form > div input[type="file"].erroneo:not(:focus),
form > div input[type="password"].erroneo:not(:focus),
form > div select.erroneo:not(:focus) {
  background: url(../files/wrong.png);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 8px 10px;
}
form > div > input[type="text"].erroneo:not(:focus) + label, form > div input[type="file"].erroneo:not(:focus) + label,
form > div input[type="password"].erroneo:not(:focus) + label,
form > div select.erroneo:not(:focus) + label {
  opacity: 0.3;
}
form > div > label {
  opacity: 0.6;
  position: relative;
  transition: .6s;
  font-size: 1.2em;
  font-weight: bold;
}
form > div#btn-foot > input {
  display: incline-block;
  color: white;
  background-color: black;
  opacity: 0.3;
  padding: 5px 10px;
  transition: .2s;
  font-size: 1.0rem;
}
form > div#btn-foot > input#btnU {
  float: right;
}
form > div#btn-foot > input:hover {
  background-color: #803da1;
  opacity: 0.8;
  color: black;
}

/*# sourceMappingURL=styleportal.css.map */
