table.table_style_dark {
  border: 2px solid black;
  width: 100%;
  text-align: center;
  background-color: black;
  opacity: 0.7;
  color: white;
}

/*# sourceMappingURL=tabla_model1.css.map */
